@import '../../../public/styles/global-styles';
.loader {
    @include boxSize();
    display: flex;
    text-align: center;
    height: 250px;
    .spinner {
        width: 35px;
        height: 35px;
        margin: auto;
        border: 4px solid gold;
        border-radius: 50%;
        border-left-color: transparent;
        border-right-color: transparent;
        animation: spinny .5s infinite linear;
    }
}
@keyframes spinny {
    100% {
        transform: rotate(360deg);
    }
}