body{
    background-color: black;
}

.gif-list {
    &__container {
        width: 100%;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;	
        list-style-type: none;
    }
    &__item {
    	padding: 5px;
        display: grid;
    	img{
            margin: auto;
    		width: 250px;
    	}
    }
    &__no-data, &__loading{
        text-align: center;
        font-size: 50px;
        color: white;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    .search-bar {
        width: 50%;
        text-align: center;
        margin: 2rem auto 1rem;
        padding: 5px 1rem;
        border: 1px solid black;
        border-radius: 12px;
        font-size: 20px;
        &__container{
        	display: flex;
        	justify-content: center;
        	&--fixed{
  				position: fixed;
  				top: 0;
  				width: 100%;
        	}
    	}
        &:focus{
        	outline: none;
        }
    }
}