/* SIZES FOR BOXES */
$boxWidth: 250px;
$boxHeight: 200px;

/* SEACH BAR SIZES */
$searchBar: 200px;
$searchBar-xs: 260px;

/* COLOR MAP*/
$colors: (
  primary: #EEE,
  secondary: #ffd700,
  border: #AAA
);

/* BREAKPOINTS  */
$breakpoint-xs: 375px;
$breakpoint-sm: 480px;
$breakpoint-md: 600px;
$breakpoint-lg: 840px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;
$breakpoint-xxxl: 1700px;

$breakpoints: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
  xxl: $breakpoint-xxl,
  xxxl: $breakpoint-xxxl
);
